doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  title Document
  header 
    div 
      img(src="GameStore.png", alt="")
      a(href="#") Главная 
      a(href="#") Каталог 
      a(href="#") Сообщество 
      a(href="#") Поддержка 
      a(href="#") Вход 
h1 Каталог
.column
  .row
    .card_style
      img.imgMcs(src='cs.png' alt='')
      .content
        h4.title Counter-Strike: Global Offensive
        p.descr Шутер
        button.btnCata Купить
    .card_style
      img.imgMcs(src='dota.png' alt='')
      .content
        h4.title Dota 3
        p.descr Симулятор
        button.btnCata Купить
  .row
    .card_style
      img.imgMcs(src='pubg.png' alt='')
      .content
        h4.title PUBG: BATTLEGROUNDS
        p.descr Хоррор
        button.btnCata Купить
    .card_style
      img.imgMcs(src='valorant.png' alt='')
      .content
        h4.title VALORANT
        p.descr Бродилка
        button.btnCata Купить
  .row
    .card_style
      img.imgMcs(src='runner.png' alt='')
      .content
        h4.title Runner
        p.descr Детектив
        button.btnCata Купить
    .card_style
      img.imgMcs(src='dayz.png' alt='')
      .content
        h4.title DayZ
        p.descr История, драма
        button.btnCata Купить