doctype html

html
  head
  link(rel='stylesheet', href='style.css')
  body 
  h1 Регистрация
  div(class = 'reg')
    form(method="post")
    
        p
        
            input(type="text", name="user", value='' placeholder = 'Логин')
        p
        
            input(type="text", name="email", value='' placeholder = 'Почта')
        p  
        
            input(type="password", name="password", value='' placeholder = 'Пароль')
    
        button(type="submit" class='btn') Регистрация
    img(src="gamepad.png", alt="")