doctype html

html

  head
  link(rel='stylesheet', href='style.css')
  body 
  header 
    div 
      img(src="GameStore.png", alt="")
      a(href="#") Главная 
      a(href="#") Каталог 
      a(href="#") Сообщество 
      a(href="#") Поддержка 
      a(href="#") Вход 

  div(class='banner')
    h1(class='mar') GameStore
    p Время нереальных скидок!
    button(type="submit" class='btn h20') Вход

div(class='val')
    img(src="nameVal.svg", alt="" width='690')
    button(type="submit" class='btn disabled') 
        del Купить за 1299 руб.
    button(type="submit" class='btn h20') Купит бесплатно
    